body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-entry-container {
  padding-bottom: 20px;
}

h2, h3 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

select, input, button {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

select#model-dropdown {
  width: 100%;
  font-weight: bold;
}

select.parts-dropdown {
  width: 70%;
}

select.quantity-dropdown {
  width: 20%;
}

button.remove-button {
  width: 40px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: red;
  cursor: pointer;
}

button.remove-button:hover {
  color: darkred;
}

button#add-part-button {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

button#add-part-button:hover {
  background-color: #0056b3;
}

.results-container {
  padding-top: 10px;
}

.summary-fields {
  display: flex;
  gap: 10px;
}

.summary-fields input {
  background-color: #f9f9f9;
  font-weight: bold;
  color: blue;
  text-align: center;
  width: 50%;
}

#update-button {
background-color: indianred;
    width: 100%;
    font-weight: bold;
  cursor: pointer;
  
}
#update-button :hover {
backgound-color: #a34949;
}
