* {
  font-family: arial, helvetica, sans-serif;
}

h1 {
  font-size: 1.3125rem;
  font-weight: bold;
  color: #2c3344;
}

body {
  width: 100%;
}

.model-dropdown {
  font-family: inter;
  font-size: 1em;
  color: #2c3344;
}

.parts-dropdown {
  font-family: inter;
  font-size: 1em;
  color: #2c3344;
}

.quantity-dropdown {
  font-family: inter;
  font-size: 1em;
  color: #2c3344;
}

.model-parts-container {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: auto;
}

.model-label {
  font-family: inter;
  font-size: 1rem;
  color: #2c3344;
  font-weight: 600;
}

.parts-row {
  gap: 10px;
}

.model-selector-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
}

.parts-list-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
}

.parts-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  width: 100%;
}

.remove-part-btn {
  border: none;
  background-color: transparent;
}

.add-part-btn {
  background-color: #2e69ff;
  padding: 12px;
  font-family: inter;
  font-size: 1rem;
  color: White;
  font-weight: 600;
  border: none;
}
